.globe {
  path {
    fill: none;
    stroke: black;
  }

  .graticule {
    opacity: 0.1;
  }

  .land {
    fill: black;
    stroke: white;
    stroke-width: 1px;
    cursor: move;
  }

  .selected {
    fill: #33CC33;
    opacity: 0.2;
  }

  .land:hover {
    fill: #33CC33;
    opacity: 0.2;
    stroke-width: 1px;
  }
}

.countryToolTip {
  display: none;
  font-size: 14px;
  padding: 5px;
  background: rgba(83, 90, 99, 0.7);
  color: white;
}