.globe {
  path {
    fill: none;
    stroke: black;
  }

  .graticule {
    opacity: 0.1;
  }

  .land {
    fill: black;
    stroke: white;
    stroke-width: 1px;
    cursor: move;
  }

  .selected {
    fill: #33CC33;
  }

  .land:hover {
    fill: #33CC33;
    stroke-width: 1px;
  }
}

.countryToolTip {
  display: none;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 5px;
  background: #fff;
}