// Partials
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";

body {
  font-family: 'Jura', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.mainContainer {
  display: flex;
}

.mapContainer {
  width: 85vw;
}

.emojiList {
  float: right;
  width: 10vw;
  font-size: 20px;
  background-color: black;
  color: white;
}

.tweet {
  text-align: center;
}