// Partials
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";
@import "globe.scss";
@import "legend.scss";

body {
  background-color: #282d34;
  font-family: 'Jura', sans-serif;
}

h1 {
  font-size: 3.5em;
}

#title {
  color: white;
  text-align: center;
  // border-bottom: 2px solid white;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

.mainContainer {
  display: flex;
}

.mapRelated {
  display: flex;
  justify-content: center;

  button {
    position: absolute;
    margin-top: 10px;
  }
}

.mapContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 40px;
}

#emojiListContainer {
  box-sizing: border-box;
  border: 2px solid white;
  margin-right: 15px;
  flex: 0 1 auto;
  background-color: #282d34;
  color: white;
  padding: 3px;
  height: 100%;
}

.tweet {
  color: white;
  text-align: center;
}

.emojiImage {
  position: relative;
  padding: 5px;
}

.animatedEmojiImage {
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-name: fadeOutUp;
}

@keyframes fadeOutUp {
  0% {
    top: 0px;
    opacity: 1;
  }
  45% {
    top: 0px;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    top: -60vh;
    transform: scale(4);
    opacity: 0.2;
  }
}

@keyframes fadeInSpinDown {
  0% {
    top: -60vh;
    opacity: 0.2;
  }
  100% {
    top: 0px;
    opacity: 1;
    transform: rotate(1080deg);
  }
}


.emojiImage:hover {
  width: 70px;
  height: 74px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index:1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ping {
  color: green;
}