// Partials
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";
@import "globe.scss";
@import "legend.scss";

body {
  background-color: #282d34;
  font-family: 'Bungee Inline', cursive;
}

.title {
  font-size: 3.5vw;
  width: 100%;
  color: white;
}

.title2 {
  @extend .title;
  font-size: 3vw;
  position: absolute;

  img {
    width: 2.3vw;
    margin-left: -0.3vw;
  }

  img:nth-child(2) {
    margin-right: -0.4vw;
  }
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

.mainContainer {
  display: flex;
}

.sideBar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 20%;
  height: 100vh;

  button {
    margin-top: 4vw;
    border: 0;
    border-radius: 5px;
    background: rgba(83, 90, 99, 0.7);
    color: white;
    font-size: 1.65vw;
    font-family: 'Bungee Inline', cursive;
    width: 100%;
    height: 5vw;
  }
}

.countryList {
  border: 0;
  margin-top: 2vw;
  background: rgba(83, 90, 99, 0.7);
  color: white;
  font-size: 0.67vw;
  width: 100%;
  height: 5vw;
  font-family: 'Bungee Inline', cursive;
}

.mapRelated {
  display: flex;
  justify-content: center;

  button {
    position: absolute;
    margin-top: 10px;
  }
}
.mapContainer {
  margin-top: 40px;
}

#emojiListContainer {
  box-sizing: border-box;
  border: 2px solid white;
  margin-right: 15px;
  flex: 0 1 auto;
  background-color: #282d34;
  color: white;
  padding: 3px;
  height: 100%;
}

.tweet {
  color: white;
  text-align: center;
}

// .tweet:last-child {
//   display: none;
// }

// .emojiContainer:nth-child(odd) {
//   animation-timing-function: ease-in;
//   animation: colorFade 4s infinite;
// }

.emojiImage {
  position: relative;
  padding: 4px;
  animation: grayToColor 4s;
  animation-timing-function: ease-in;
}

// .emojiImage:hover{
//   animation: grayToColor 4s infinite;
//   animation-timing-function: ease-in;
// }

// .animatedEmojiImage {
//   animation: colorFade 4s infinite;
//   animation-timing-function: ease-in;
// }

@keyframes grayToColor {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}

@keyframes colorFade {
  from {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(0%);
  }
  to {
    filter: grayscale(100%);
  }
}

@keyframes glowGold {
  from {  -webkit-box-shadow: 0 0 9px #333; }
  50% {  -webkit-box-shadow: 0 0 18px #F9FF33; }
  to {  -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes fadeOutUp {
  0% {
    top: 0px;
    opacity: 1;
  }
  45% {
    top: 0px;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    top: -60vh;
    transform: scale(4);
    opacity: 0.2;
  }
}

@keyframes fadeInSpinDown {
  0% {
    top: -60vh;
    opacity: 0.2;
  }
  100% {
    top: 0px;
    opacity: 1;
    transform: rotate(1080deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index:1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}